<ion-content>
  <ion-grid>
    <div class="match-wrapper" *ngIf="isFirst">
      <h4 class=" text-dark font-weight-bold">FIELD</h4>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label for="matchName" class=" font-weight-bold">Match Name</ion-label>
        <input type="text" class="form-control form-control-sm" id="matchName" placeholder="Enter Match Name" [(ngModel)]="createMatchForm.Matchname">
      </div>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label for="PlayDate" class=" font-weight-bold">Match Date</ion-label>
        <input type="date" class="form-control form-control-sm" id="PlayDate" placeholder="Enter Play Date" [(ngModel)]="createMatchForm.PlayDate">
      </div>
      <h4 class=" text-dark font-weight-bold">Select Teams</h4>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label class=" font-weight-bold">Team A Name</ion-label>
        <input type="text" class="form-control form-control-sm" placeholder="Enter Team A Name" [(ngModel)]="createMatchForm.Team1">
      </div>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label class=" font-weight-bold">Team B Name</ion-label>
        <input type="text" class="form-control form-control-sm" placeholder="Enter Team B Name" [(ngModel)]="createMatchForm.Team2">
      </div>
      <div class="col-sm-3 text-center m-1">
        <ion-button type="button" color="dark" size="default" (click)="isFirst=false;isSecond=true">Next</ion-button>
      </div>

    </div>
    <!-- players selection start from here -->
    <div class="field-wrapper" *ngIf="isSecond ">
      <header class=" mt-3 mb-2 ">
        <h4 class="text-center">FIELD</h4>
        <h6>Team A Players</h6>
      </header>
      <ng-container *ngFor="let playeraA of createMatchForm.playersListA">
        <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
          <input type="text" class="form-control form-control-sm" placeholder={{playeraA.name}} [(ngModel)]="playeraA.PlayerName">
        </div>
      </ng-container>
      <header class="mt-3 border-top border-dark pt-2">
        <h6>Team B Players</h6>
      </header>
      <ng-container *ngFor="let playerB of createMatchForm.playersListB">
        <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
          <input type="text" class="form-control form-control-sm" placeholder={{playerB.name}} [(ngModel)]="playerB.PlayerName">
        </div>
      </ng-container>
      <div class="text-center mt-4">
        <button type="button" class="btn btn-primary" (click)="isFirst=false;isSecond=false;isThree=true;createMatch()">Submit</button>
      </div>
    </div>
    <!-- toss related section start from here -->
    <div class="toss-wrapper " *ngIf="isThree">
      <header class="border-bottom border-dark mt-3 mb-3 pb-2 text-center">
        <h4>HYD vs BAN</h4>
        <p>Ground Name</p>
      </header>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label class=" font-weight-bold">Toss Winner*</ion-label>
        <select class="form-control" [(ngModel)]="tossWinned">
          <option></option>
          <option [value]="team.teams" *ngFor="let team of teams">{{team.teams}}</option>
        </select>
      </div>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label class=" font-weight-bold">Selected to*</ion-label>
        <select class="form-control ">
            <option>Bat</option>
            <option>Bowl</option>
          <option [value]="team.teams" *ngFor="let team of teams">{{team.teams}}</option>
        </select>
      </div>
      <div class="text-center mt-4">
        <ion-button type="button" color="dark" size="default" (click)="updateToss()">Save
        </ion-button>
      </div>
    </div>
  </ion-grid>
</ion-content>