<ion-content>
  <ion-grid>
    <form name="createMatchForm" #f="ngForm" novalidate>
    <div class="match-wrapper" *ngIf="isFirst">
      <h4 class=" text-dark font-weight-bold">FIELD</h4>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label for="MatchName" class=" font-weight-bold">Match Name</ion-label>
        <input type="text" class="form-control form-control-sm" id="MatchName" 
        placeholder="Enter Match Name" [(ngModel)]="createMatchForm.MatchName" name="MatchName"
         #matchNameId="ngModel"  required
         [ngClass]="{ 'border-danger': submitted && matchNameId.invalid }">
         <div *ngIf="submitted && matchNameId.invalid">
          <div *ngIf="matchNameId.errors.required" class="error">Match Name is required</div>
      </div>
      </div>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label for="PlayDate" class=" font-weight-bold">Match Date</ion-label>
        <input type="date" class="form-control form-control-sm" #PlayDateId="ngModel" id="PlayDate" placeholder="Enter Play Date" name="PlayDate" [(ngModel)]="createMatchForm.PlayDate" required
        [ngClass]="{ 'border-danger': submitted && PlayDateId.invalid }">
        <div *ngIf="submitted && PlayDateId.invalid">
          <div *ngIf="PlayDateId.errors.required" class="error">Match Date is required</div>
      </div>
      </div>
      <h4 class=" text-dark font-weight-bold">Select Teams</h4>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label class=" font-weight-bold">Team A Name</ion-label>
        <input type="text" class="form-control form-control-sm" placeholder="Enter Team A Name" #team1Id="ngModel" [(ngModel)]="createMatchForm.Team1" name="Team1" required
        [ngClass]="{ 'border-danger': submitted && team1Id.invalid }">
        <div *ngIf="submitted && team1Id.invalid">
          <div *ngIf="team1Id.errors.required" class="error">Team A Name is required</div>
      </div>
      </div>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label class=" font-weight-bold">Team B Name</ion-label>
        <input type="text" class="form-control form-control-sm" placeholder="Enter Team B Name" #team2Id="ngModel" [(ngModel)]="createMatchForm.Team2" name="Team2" required [ngClass]="{ 'border-danger': submitted && team1Id.invalid }">
        <div *ngIf="submitted && team2Id.invalid">
          <div *ngIf="team2Id.errors.required" class="error">Team B Name is required</div>
      </div>
      </div>
      <div class="col-sm-3 text-center m-1">
        <ion-button type="button" color="dark" size="default" (click)="createMatchClick()">Next</ion-button>
      </div>

    </div>
  </form>
    <!-- players selection start from here -->
    <div class="field-wrapper" *ngIf="isSecond ">
      <header class=" mt-3 mb-2 ">
        <h4 class="text-center">FIELD</h4>
        <h6>Team A Players</h6>
      </header>
      <ng-container *ngFor="let playeraA of createMatchForm.playersListA">
        <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
          <input type="text" class="form-control form-control-sm" placeholder={{playeraA.name}} [(ngModel)]="playeraA.PlayerName">
        </div>
      </ng-container>
      <header class="mt-3 border-top border-dark pt-2">
        <h6>Team B Players</h6>
      </header>
      <ng-container *ngFor="let playerB of createMatchForm.playersListB">
        <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
          <input type="text" class="form-control form-control-sm" placeholder={{playerB.name}} [(ngModel)]="playerB.PlayerName">
        </div>
      </ng-container>
      <div class="text-center mt-4">
        <button type="button" class="btn btn-primary" (click)="isFirst=false;isSecond=false;createMatch()">Submit</button>
      </div>
    </div>
    <!-- toss related section start from here -->
    <div class="toss-wrapper " *ngIf="isThree">
      <header class="border-bottom border-dark mt-3 mb-3 pb-2 text-center" *ngIf="teams&&teams.length">
        <h4>{{teams[0].teams}} vs {{teams[1].teams}}</h4>
        <p>Ground Name</p>
      </header>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label class=" font-weight-bold">Toss Winner*</ion-label>
        <select class="form-control" [(ngModel)]="tossWinner">
          <option></option>
          <option [value]="team.teams" *ngFor="let team of teams">{{team.teams}}</option>
        </select>
      </div>
      <div class="form-group col-sm-3 col-md-6 col-lg-3 ">
        <ion-label class=" font-weight-bold">Selected to*</ion-label>
        <select class="form-control" [(ngModel)]="SelectedTo">
            <option [value]="item.name" *ngFor="let item of selectionToss">{{item.name}}</option>
            <!-- <option [value]="bowl">Bowl</option> -->
        </select>
      </div>
      <div class="text-center mt-4">
        <ion-button type="button" color="dark" size="default" (click)="updateToss()">Save
        </ion-button>
      </div>
    </div>
  </ion-grid>
</ion-content>