<ion-content>
  <ion-grid>
<div class="login-wrapper">
  <form [formGroup]="loginForm" class="d-flex align-items-center justify-content-center flex-column">
    <h1 class="text-primary text-center font-weight-bold">Login</h1>
    <div class="form-group col-sm-3 col-md-6 col-lg-6 col-xl-6 ">
      <ion-label for="email" class="text-primary font-weight-bold">E-mail</ion-label>
      <ion-input type="email" class="form-control form-control-sm" id="email" aria-describedby="emailHelp"
        placeholder="Enter email" formControlName="Emailid"></ion-input>
    </div>
      <div class="form-group col-sm-3  col-md-6 col-lg-6 col-xl-6">
        <ion-label for="password" class="text-primary font-weight-bold">Password</ion-label>
        <ion-input type="password" class="form-control form-control-sm" id="password" placeholder="Enter password" formControlName="Password"> </ion-input>
      </div> 
    <div class="text-center">
<button type="button" class="btn btn-primary pl-4 pr-4" (click)="login()" >Login</button>
      <!-- <ion-button color="Default" class="btn-color" (click)="login()">Login</ion-button> -->
    </div>
  </form>
</div>
</ion-grid>
</ion-content>