.matches-wrapper {
    .start-btn {
        border: 1px solid black;
        padding: 0 1.5rem;
    }
    .match-btn{
       background-color: black;
       color: white;
       border-radius: 0;
       padding: 0.5rem  2rem 0.5rem 0.5rem;
       margin: 1rem;
    }
    // .edit-btn {
    //     border: 1px solid rgb(219, 26, 26);
    //     padding: 0 10rem;
    // }
  .start-btn{
      border: 1px solid  black;
  }
}
