<div class="bg-white ">
  <p class=" pull-right" (click)="closeModal()">X</p>
  <h4 class="text-danger">{{modalData?.title}}</h4>
  <div class="d-flex mt-4 mb-4">
    <p *ngIf="modalData.title==='Wide Ball'" class="mr-1">WD <span class="mr-1">+</span></p>
    <p *ngIf="modalData.title==='No Ball'" class="mr-1">NB <span class="mr-1">+</span></p> 
    <input type="number" class="col-sm-6" [(ngModel)]="scrore">
    <label class="col-sm-6">Runs</label>
  </div>
  <div *ngIf="modalData.title==='No Ball'" class="d-flex align-items-center justify-content-between">
    <div >
      <input type="radio" [(ngModel)]="scoreType" value="fromBat">
      <label class="pl-2">From Bat</label>
    </div>
    <div>
      <input type="radio" [(ngModel)]="scoreType" value="bye">
      <label class="pl-2">Bye</label>
    </div>
    <div>
      <input type="radio" [(ngModel)]="scoreType" value="legBye">
      <label class="pl-2">Leg Bye</label >
    </div>
  </div>
  <div class="d-flex">
    <button type="button" class="col-sm-6 btn" (click)="closeModal()">Cancel</button>
    <button type="button" class="col-sm-6 btn" (click)="saveData()">Ok</button>
  </div>
</div>