<ion-app styke="width:100%;max-width:95%;overflow-y: auto; mb-5">
  <h4 class="border-bottom text-center p-2">Preview</h4>
  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col>
          <span class="font-weight-bold">{{selectedInningType==='second'?matchDetailsForBoard?.team2ShortName:matchDetailsForBoard?.team1shortname}}</span>
        </ion-col>
        <ion-col class="text-right">
          <div><span class="font-weight-bold">{{ this.matchDetailsForBoard.batingScoreSum}}/{{getTotalOutedcount()}}</span> ({{this.matchDetailsForBoard['ballDetails']?.overs}}.{{this.matchDetailsForBoard['ballDetails']?.balls}})</div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between border-bottom">
        <ion-col>
          <span class="font-weight-bold">{{selectedInningType==='second'?matchDetailsForBoard?.team1shortname:matchDetailsForBoard?.team2ShortName}}</span>
        </ion-col>
        <ion-col class="text-right">
          <span>YET to BAT</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between " *ngIf="matchDetailsForBoard?.activeBating1?.batsman1name">
        <ion-col>
          <span>{{matchDetailsForBoard?.activeBating1?.batsman1name}}</span><span *ngIf="matchDetailsForBoard?.activeBating1.isSelected">*</span>
        </ion-col>
        <ion-col class="ion-text-right">
          <span>{{matchDetailsForBoard?.activeBating1?.score}} ( {{matchDetailsForBoard?.activeBating1?.ballsFaced}})</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between border-bottom" *ngIf="matchDetailsForBoard?.activeBating2?.batsman2name">
        <ion-col>
          <span>{{matchDetailsForBoard?.activeBating2?.batsman2name}}<span *ngIf="matchDetailsForBoard?.activeBating2.isSelected">*</span></span>
        </ion-col>
        <ion-col class="ion-text-right">
          <span>{{matchDetailsForBoard?.activeBating2?.score}}({{matchDetailsForBoard?.activeBating2?.ballsFaced}})</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-end ">
        <p>O-R-W</p>
      </ion-row>
      <ion-row class="ion-justify-content-between ">
        <ion-col>
          <span>{{matchDetailsForBoard?.bowlername}}(Bowler)</span>
        </ion-col>
        <ion-col class="ion-text-right">
          <span>{{this.activeBowlerDetails?.overs}}.{{this.activeBowlerDetails?.balls}}-{{this.activeBowlerDetails?.runs}}-{{this.activeBowlerDetails?.wickets}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-between ">
        <ion-col class="ion-text-center">
          <button type="button" class="btn border border-dark">Full Scoreboard</button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-between m-4">
        <ion-col class="border-grey " [ngClass]="{'active':selectedInningType==='first'}" (click)="inningsClicked('first')">
          <span class=" ">First innings</span>
        </ion-col>
        <ion-col class="border-grey ion-text-right" [ngClass]="{'active':selectedInningType==='second'}" (click)="inningsClicked('second')">
          <span class="">Second innings</span>
        </ion-col>
      </ion-row>
      <div class="d-flex justify-content-center">
        <ion-label class="mr-2 font-weight-bold">Batting Team</ion-label>
        <select class="w-50 select form-control form-control-sm" (change)="getbattingTeam()" [(ngModel)]="matchDetails.battingTeam">
          <ng-container *ngFor="let team of  specificMatchTeams" >
             <!-- for first innings -->
            <option *ngIf=" selectedInningType==='first' && (matchDetailsForBoard.team1Name&&matchDetailsForBoard.team1Name===team.teams)" [value]="team.teams">
              {{team.teams}}</option>
            </ng-container>
            <!--  for second innings -->
            <ng-container *ngFor="let team of  specificMatchTeams" >
              <option *ngIf="selectedInningType==='second' &&(matchDetailsForBoard.team2Name&&matchDetailsForBoard.team2Name===team.teams)" [value]="team.teams">
                {{team.teams}}</option>
              </ng-container>
        </select>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <ion-label class="m-0 p-2">Striker</ion-label>
        <div class="d-flex align-items-center justify-content-center">
          <input type="radio" name="Batsman" value="first" (click)="selectedBatchMen('1')" [(ngModel)]="matchDetailsForBoard.activeBatsman" />
          <select class="ml-2 form-control form-control-sm" [(ngModel)]="activeBating" (change)="activeBatingPlayerChanged()">
            <option *ngFor="let bating of batingPlayers" [ngValue]="bating">{{bating.PlayerName}}</option>
          </select>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <input type="radio" name="Batsman" value="second" (click)="selectedBatchMen('2')"  [(ngModel)]="matchDetailsForBoard.activeBatsman"/>
          <select class="ml-2 form-control form-control-sm " [(ngModel)]="activeBating2" (change)="activeBatingPlayer2Changed()">
              <option *ngFor="let bating of batingPlayers" [ngValue]="bating">{{bating.PlayerName}}</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <ion-label class="mr-2 font-weight-bold">Ball Score*</ion-label>
        <div class="d-flex flex-column">
          <ul class="radio-toolbar d-flex ion-justify-content-between">
            <li class="mr-2">
              <input type="radio" id="zero" name="scoreValue" value="0"  (click)="scoreUpdate(0)" [(ngModel)]="scoreValue">
              <label for="zero">0</label>
            </li>
            <li class="mr-2">
              <input type="radio" id="one" name="scoreValue" value="1" (click)="scoreUpdate(1)" [(ngModel)]="scoreValue">
              <label for="one">1</label>
            </li>
            <li class="mr-2">
              <input type="radio" id="two" name="scoreValue" value="2" (click)="scoreUpdate(2)" [(ngModel)]="scoreValue">
              <label for="two">2</label>
            </li>
            <li class="mr-2">
              <input type="radio" id="three" name="scoreValue" value="3" (click)="scoreUpdate(3)" [(ngModel)]="scoreValue">
              <label for="three">3</label>
            </li>
            <li class="mr-2">
              <input type="radio" id="four" name="scoreValue" value="4" (click)="scoreUpdate(4)" [(ngModel)]="scoreValue">
              <label for="four">4</label>
            </li>
            <li class="mr-2">
              <input type="radio" id="five" name="scoreValue" value="5" (click)="scoreUpdate(5)" [(ngModel)]="scoreValue">
              <label for="five">5</label>
            </li>
            <li class="mr-2">
              <input type="radio" id="six" name="scrore" value="6" (click)="scoreUpdate(6)" [(ngModel)]="scoreValue">
              <label for="six">6</label>
            </li>
          </ul>
          <ul class="radio-toolbar d-flex ion-justify-content-between">
            <li class="mr-2">
              <input type="radio" id="by" name="extraScore" value="by" checked [(ngModel)]="matchDetailsForBoard.extraScore" (click)="extraScoreClicked()">
              <label for="by">BY</label>
            </li>
            <li class="mr-2">
              <input type="radio" id="lb" name="extraScore" value="lb" [(ngModel)]="matchDetailsForBoard.extraScore" (click)="extraScoreClicked()">
              <label for="lb">LB</label>
            </li>
            <li class="mr-2">
              <input type="radio" id="wi" name="extraScore" value="wi" [(ngModel)]="matchDetailsForBoard.extraScore" (click)="noballScoreUpdate()">
              <label for="wi">WI</label>
            </li>
            <li class="mr-2">
              <input type="radio" id="nb" name="extraScore" value="nb" [(ngModel)]="matchDetailsForBoard.extraScore" (click)="noballScoreUpdate()">
              <label for="nb">NB</label>
            </li>
            <li class="mr-2" >
              <input type="radio" id="w" name="extraScore" value="w" (click)="wicketClick()" [(ngModel)]="matchDetailsForBoard.extraScore">
              <label for="w">W</label>
            </li>

          </ul>
        </div>
      </div>
      <div class="d-flex  align-items-center" *ngIf="matchDetailsForBoard.extraScore&&matchDetailsForBoard.extraScore==='w'">
        <span>Dismissal</span>
        <div class="d-flex flex-column align-items-center">
          <div class="d-flex justify-content-between">
            <button type="button" size="large" class="btn btn-light ">LBW</button>
            <button type="button" size="large" class="btn btn-light ">Catch</button>
            <button type="button" size="large" class="btn btn-light">Run-Out</button>
          </div>
          <div class="d-flex justify-content-between">
            <button type="button" size="large" class="btn btn-light">Bowl</button>
            <button type="button" size="large" class="btn btn-light">Stump</button>
            <button type="button" size="large" class="btn btn-light">Hit Wkt</button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <ion-label class="mr-2 font-weight-bold">Bowling Team</ion-label>
        <select class="w-50 select form-control form-control-sm" (change)="getbowlingTeam()" [(ngModel)]="matchDetails.bowlingTeam">
          <ng-container *ngFor="let teamDetail of specificMatchTeams">
          <option *ngIf="selectedInningType==='first' &&(matchDetailsForBoard.team2Name&&matchDetailsForBoard.team2Name===teamDetail.teams)"  [value]="teamDetail.teams">{{teamDetail.teams}}</option>
          <option *ngIf="selectedInningType==='second' &&(matchDetailsForBoard.team1Name&&matchDetailsForBoard.team1Name===teamDetail.teams)"  [value]="teamDetail.teams">{{teamDetail.teams}}</option>

        </ng-container>
        </select>
      </div>
      <div class="d-flex mt-3 justify-content-center align-items-center">
        <span class="mr-2">Bowler</span>
        <select class="form-control form-control-sm" [(ngModel)]="matchDetailsForBoard.bowlername" (change)="changeBowlerDetails()">
          <option *ngFor="let player of bowlingPlayers" [value]="player.PlayerName"> {{player.PlayerName}} </option>
        </select>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <ion-label class="mr-2 font-weight-bold">Fieler* </ion-label>
        <select class="w-50 select form-control form-control-sm">
          <option *ngFor="let player of bowlingPlayers"> {{player.PlayerName}} </option>
        </select>
      </div>
      <div text-left="">
        <ion-button color="success" (click)="saveMatchData()"> Submit</ion-button>
        <ion-button color="dark" size="outline"> Innings complete </ion-button>
        <ion-button color="dark" size="small+outline"> UNDO </ion-button>
      </div>
    </ion-grid>
  </ion-content>
</ion-app>
<!-- The core Firebase JS SDK is always required and must be listed first -->